body {
    background-color: #3b3838;
    margin: 20px;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
}

.recipe {
    text-align: center;
}

a:active,
a:visited {
    color: #ffffff;
}

a:hover {
    color: #6d6df6;
}

a.button {
    padding: 2px 6px 2px 6px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
}

a.button:visited {
    color: #ffffff;
}

a.button:hover {
    color: #6d6df6;
}